@model RenoEnergy.Models.asistencia



<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Asistencias</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDAsistencia)

        <div class="form-group">
            @Html.LabelFor(model => model.IDAlumno, "Alumno", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model=> model.alumno.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model =>model.IDAlumno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.A1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               
                @Html.EditorFor(model => model.A1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.A1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.A2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.A2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.A2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.A3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.A3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.A3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.A4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.A4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.A4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.A5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.A5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.A5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.A6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.A6, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.A6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.A7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.A7, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.A7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.A8, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.A8, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.A8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.A9, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.A9, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.A9, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.A10, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.A10, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.A10, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
